/* --- CARD 14 --- */
.card-14 {
  background-color: #000000;
  color: white;
  font-weight: bold;
  font-size: 5vw;
  border: 3px solid white;
  border-radius: 1.2rem;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.card-14::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  border-radius: 1.2rem;
  z-index: 0;
}
.card-14 .card-header {
  font-family: var(--card-font-header-family);
  position: absolute;
  bottom: var(--header-position);
  left: 0;
  width: 100%;
  background-color: transparent;
  color: var(--card-text-color);
  font-size: var(--header-font-size);
  text-align: start;
  z-index: 10;
  pointer-events: none;
}

.card-14 .card-footer {
  font-family: var(--card-font-footer-family);
  position: absolute;
  top: var(--footer-position);
  left: 0;
  width: 100%;
  background-color: transparent;
  color: var(--card-text-color);
  font-size: var(--footer-font-size);
  text-align: end;
  z-index: 10;
  pointer-events: none;
}
.card-14 > .left-side,
.card-14 > .right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.card-14 > .right-side {
  background: black url("./assets/logo%20oeuf%20bgV2.svg") no-repeat 100% 50%;
  background-size: contain;
  background-attachment: fixed;
  border-radius: 1rem;
}
@media (max-aspect-ratio: 1/1) {
  .card-14 {
    flex-direction: column;
  }
}