.card-13 {
  background-color: #000000;
  color: white;
  font-weight: bold;
  font-size: 5vw;
  border: 3px solid white;
  border-radius: 1.2rem;
  overflow: visible;
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.card-13::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  border-radius: 1.2rem;
  z-index: 0;
}
.card-13 .card-header {
  font-family: Seeds, sans-serif;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: start;
  z-index: 10;
  pointer-events: none;
}
.card-13 .card-footer {
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: clamp(1.25rem, 5vw, 2rem);
  text-align: end;
  z-index: 10;
  pointer-events: none;
}
.card-13 > .left-side,
.card-13 > .right-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.card-13 > .right-side {
  background: black url("./assets/logo%20oeuf%20bgV2.svg") no-repeat 100% 50%;
  background-size: contain;
  background-attachment: fixed;
  opacity: 0.2;
}
@media (max-aspect-ratio: 1/1) {
  .card-13 {
    flex-direction: column;
  }
}