/* --- CARD 10 --- */
.card-10 {
    background-color: #999999;
    color: #666;
    font-weight: 600;
    font-size: 5vw;
    border: 3px solid #555;
    border-radius: 1rem;
    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  
  .card-10::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    pointer-events: none;
    border-radius: 1rem;
    z-index: 0;
  }
  
  .card-10 .card-header {
    font-family: Seeds, sans-serif;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #666;
    font-size: clamp(2.4rem, 5vw, 3.8rem);
    text-align: start;
    z-index: 10;
    pointer-events: none;
  }
  
  .card-10 .card-footer {
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: #666;
    font-size: clamp(1.1rem, 5vw, 1.9rem);
    text-align: end;
    z-index: 10;
    pointer-events: none;
  }
  
  .card-10 > .left-side,
  .card-10 > .right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .card-10 > .right-side {
    background: #999 url("./assets/logo%20oeuf%20bgV2.svg") no-repeat 100% 50%;
    background-size: contain;
    background-attachment: fixed;
    opacity: 0.15;
  }
  
  @media (max-aspect-ratio: 1/1) {
    .card-10 {
      flex-direction: column;
    }
  }
  
  